.container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: 100vh;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(/src/assets/back/desktop_header.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  inline-size: 250px;
}

.containerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  block-size: max-content;
  padding: 10px;
  gap: 20px;
}

.title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.title:hover {
 color: rgb(189, 189, 189);
}

.line {
  inline-size: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
}
