.container {
  inline-size: 100%;

  padding-left: clamp(0.3125rem, -8.0625rem + 41.875vw, 42.1875rem);
  padding-right: clamp(0.3125rem, -8.0625rem + 41.875vw, 42.1875rem);
  background-color: rgb(191, 191, 191);
  display: flex;
  flex-direction: column;
  gap: 3px;
}



.image {
  border-radius: 5px;
}
